<?xml version="1.0"?>
<model>
  <name>ThreePi</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Kelly Dong</name>
   <email>sdong95@gwu.edu</email>
  </author>

  <description>
    Differential drive robot NO.1, Based on 3pi robot from pololu
  </description>
</model>
